body {
    background-image: url(../images/san-francisco-image-1200.jpg);
}
#player1 {
    float: left;
    background-color: rgb(100, 51, 153,0.4);
    height: 715px;
    width: 23%;
}
#board {
    float: left;
    background-color: rgb(255, 2, 1,0.5);
    height: 715px;
    width: 54%;
}
#player2 {
    float: left;
    background-color: rgb(65, 104, 226,0.4);
    height: 715px;
    width: 23%;
}
.row {
    width: 54%;
    position: absolute;
    margin: auto;
    left: 23%;
    background-color: rgba(0, 0, 0, 0.5);
}
#row2 {
    top: 142px;
}
#row3 {
    top: 250px;
}
#row4 {
    top: 358px;
}
#row5 {
    top: 466px;
}
#row6 {
    top: 573px;
}
.corners {
    width: 20%;
}
#go-to-jail, #free-parking, #in-jail, #go {
    height: 142px;
    width: 100%;
}
#player1-free-parking, #player1-in-jail {
    position: absolute;
    bottom: 20%;
    left: 5%;
    color: yellow;
}
#player2-free-parking, #player2-in-jail {
    position: absolute;
    bottom: 20%;
    left: 12%;
    color: red;
}
#player1-go-to-jail, #player1-go {
    position: absolute;
    bottom: 20%;
    right: 12%;
    color: yellow;
}
#player2-go-to-jail, #player2-go {
    position: absolute;
    bottom: 20%;
    right: 5%;
    color: red;
}
#player1-in-jail {
    position: absolute;
    bottom: 20%;
    left: 5%;
    color: yellow;
}
#player2-in-jail {
    position: absolute;
    bottom: 20%;
    left: 12%;
    color: red;
}
.properties {
    background-color: rgba(184, 184, 184, 0.5);
    height: 108px;
    width: 15%;
}
.long-properties {
    height: 142px;
}
.wide-properties {
    width: 20%;
}
.end-properties {
    position: absolute;
    left: 80%;
}
#property11, #property12 {
    height: 107px;
}